<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Me</title>
	<link rel='stylesheet' href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
	<link rel="stylesheet" href="stylesheets/main.css">
</head>
<body>
	<div class="header">
		<div class="hleft">
			<p><a href="/">home</a></p>
		</div>
		<div class="hright">
			<ul class="nav">
				<li><a href="/aboutme">aboutme</a></li>
				<li><a href="#">resume</a></li>
				<li><a href="/contact">contact</a></li>
				<li><a href='/signin'><%= state %></a></li>
			</ul>
		</div>
	</div>
	<div class="middle">
		
		<div class="midd1-me">
			<h3>ABOUT ME</h3>
		</div>
		<div class="midd2-me">
			<div class="info-me">
				<div class="img-me">
				<img src="images/me.jpg" alt="photo" width="160" height="220">
			    </div>
				<h2>刘逸达</h2>
				<p>前端工程师</p>
			</div>
			<div class="section-me">
			<p>Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean lacinia bibendum nulla sed consectetur. Cras mattis consectetur purus sit amet avida at eget metus.Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean lacinia bibendum nulla sed consectetur. Cras mattis consectetur purus sit amet avida at eget metus.</p>

            <p>Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>

            <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean lacinia bibendum nulla sed consectetur. Cras mattis consectetur purus sit amet avida at eget metus.Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean lacinia bibendum nulla sed consectetur. Cras mattis consectetur purus sit amet avida at eget metus.</p>
			</div>
		</div>
	</div>
	<div class="footer">
		<p class="follow">follow me</p>
		<div class="wrapper">
			    <ul> 
			      <li><a href="https://m.facebook.com/yida.liu.104"><i class="fa fa-facebook"></i></a> </li> 
			      <li><a href="https://github.com/lyddias"><i class="fa fa-github-square"></i></a> </li>   
			      <li> <a href="https://www.linkedin.com/in/yidallu"><i class="fa fa-linkedin"></i></a> </li>
			      <li> <a href="http://weibo.com/p/1005051853667490"><i class="fa fa-weibo"></i></a> </li> 
			      <li> <a href="https://twitter.com/yida_liu"><i class="fa fa-twitter"></i></a> </li> 
			  </ul>
			</div>
		<p class="beian">© 2017 ALL RIGHTS RESERVED. ALL RIGHTS RESERVED&nbsp|&nbsp苏ICP备17063718号-1</p>	
	</div>
</body>
</html>
