<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Contact</title>
	<link rel='stylesheet' href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
	<link rel="stylesheet" href="stylesheets/main.css">
</head>
<body>
	<div class="header">
		<div class="hleft">
			<p><a href="/">home</a></p>
		</div>
		<div class="hright">
			<ul class="nav">
				<li><a href="/aboutme">aboutme</a></li>
				<li><a href="#">resume</a></li>
				<li><a href="/contact">contact</a></li>
				<li><a href='/signin'><%= state %></a></li>
			</ul>
		</div>
	</div>
	<div class="middle">
		
		<div class="midd1-contact">
			<h3>CONTACT</h3>
		</div>
		<div class="midd2-contact">
				<p>If you are looking for a Web Developer, just leave me a message and I'll contact you soon.</p>
			<div class="message-contact">
				<form  method="post" action="" name="cform">
					<input type="text" name="yname" id="yname" placeholder="Your name..." maxlength="30" autocomplete="on" required>
					<input type="email" name="email" id="email" placeholder=Email Address..." autocomplete="on" required>
					<textarea type="text" name="comments" id="comments" placeholder="Description..."></textarea>
					<input type="submit" id="submit-contact" name="send" value="Send">
				</form>
			
			</div>
		</div>
	</div>
	<div class="footer">
		<p class="follow">follow me</p>
		<div class="wrapper">
			    <ul> 
			      <li><a href="https://m.facebook.com/yida.liu.104"><i class="fa fa-facebook"></i></a> </li> 
			      <li><a href="https://github.com/lyddias"><i class="fa fa-github-square"></i></a> </li>   
			      <li> <a href="https://www.linkedin.com/in/yidallu"><i class="fa fa-linkedin"></i></a> </li>
			      <li> <a href="http://weibo.com/p/1005051853667490"><i class="fa fa-weibo"></i></a> </li> 
			      <li> <a href="https://twitter.com/yida_liu"><i class="fa fa-twitter"></i></a> </li> 
			  </ul>
			</div>
		<p class="beian">© 2017 ALL RIGHTS RESERVED. ALL RIGHTS RESERVED&nbsp|&nbsp苏ICP备17063718号-1</p>		
	</div>	
</body>
</html>
